  <div  *ngFor="let album of albums.data" class="cardAlbum">
    <div class="aboutArtists"  >
      <img src={{album.cover_big}} alt="album cover">
      <table>
        <tr>
          <td colspan=2>{{album.artist.name}}</td>
        </tr>
        <tr>
          <td colspan=2>{{album.title}}</td>
        </tr>
        <tr>
          <td>Songs : </td>
          <td>{{album.nb_tracks}}</td>
        </tr>
      </table>
    </div>
    <div  class="demoTracks"  >
      <tracklist-comp [tracks]="album.tracklist"></tracklist-comp>
    </div>
    <div class="link">
      <a href={{album.link}}>Listen on Deezer</a>
    </div>
  </div>
